Repository hmcts/probate-submit-service, pull requests merged in 2019-08, with the labels that each got.

#196 try with latest CCD only
  Jenkinsfile_CNP
  charts/probate-submit-service/Chart.yaml
  charts/probate-submit-service/requirements.yaml
  charts/probate-submit-service/values.preview.template.yaml
  config/owasp/suppressions.xml
  infrastructure/output.tf
Labels: ns:probate-submit-service-pr-196

#200 Pro 5924 fix sot bug 2
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/CoreCaseDataMapper.java
Labels: ns:probate-submit-service-pr-200

#201 update docker repo
  charts/probate-submit-service/values.yaml
Labels: ns:probate-submit-service-pr-201

#204 E schart
  charts/probate-submit-service/requirements.yaml
  charts/probate-submit-service/values.preview.template.yaml
  charts/probate-submit-service/values.yaml
  config/owasp/suppressions.xml
Labels: ns:probate-submit-service-pr-204

#206 PRO-6053 update java docker image and appinsights
  Dockerfile
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  web.config
Labels: ns:probate-submit-service-pr-206
