Repository hmcts/probate-submit-service, pull requests merged in 2019-11, with the labels that each got.

#246 PRO-6545: Call registry update for all payment statuses
  src/main/java/uk/gov/hmcts/probate/services/submit/core/CaseSubmissionUpdater.java
  src/main/java/uk/gov/hmcts/probate/services/submit/core/PaymentServiceImpl.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/CaseSubmissionUpdaterTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/PaymentServiceImplTest.java
Labels: ns:probate-submit-service-pr-246

#245 PRO-6545: Not updating when executor has disagreed to declaration
  build.gradle
Labels: ns:probate-submit-service-pr-245

#247 Pro 6602 migration fixes
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdClientApi.java
  src/main/java/uk/gov/hmcts/probate/services/submit/controllers/v2/CasesController.java
  src/main/java/uk/gov/hmcts/probate/services/submit/core/CasesServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/services/submit/services/CasesService.java
  src/main/java/uk/gov/hmcts/probate/services/submit/services/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdClientApiTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/controllers/v2/CasesControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/CasesServiceImplTest.java
Labels: ns:probate-submit-service-pr-247

#249 PRO-6602: Fix duplicate cases issue
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdClientApi.java
Labels: ns:probate-submit-service-pr-249

#250 PRO-6602: Increase timeouts for CCD api calls
  src/main/java/uk/gov/hmcts/probate/services/submit/controllers/v2/CasesController.java
  src/main/resources/application.yml
Labels: ns:probate-submit-service-pr-250
