Repository hmcts/probate-submit-service, pull requests merged in 2019-07, with the labels that each got.

#182 PRO-4775 Intestacy definitions update
  src/main/resources/application.yml
Labels: ns:probate-submit-service-pr-182

#189 Pro 5643 upgrade owasp
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:probate-submit-service-pr-189

#183 PRO-5546: Caveat payment callback
  src/main/java/uk/gov/hmcts/probate/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/probate/services/submit/controllers/v2/CasesController.java
  src/main/java/uk/gov/hmcts/probate/services/submit/controllers/v2/PaymentsController.java
  src/main/java/uk/gov/hmcts/probate/services/submit/core/CasesServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/services/submit/core/PaymentServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/services/submit/services/CasesService.java
  src/main/java/uk/gov/hmcts/probate/services/submit/services/PaymentsService.java
  src/pactTest/resources/json/intestacyGrantOfRepresentation_full_submission.json
  src/test/java/uk/gov/hmcts/probate/services/submit/controllers/v2/CasesControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/controllers/v2/PaymentsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/controllers/v2/SubmissionsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/CasesServiceImplTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/PaymentServiceImplTest.java
  src/test/resources/files/v2/intestacyGrantOfRepresentation_caseDetails.json
  src/test/resources/files/v2/payments.json
Labels: ns:probate-submit-service-pr-183

#184 Owasp update test build
  build.gradle
Labels: ns:probate-submit-service-pr-184

#185 Pro 5356 default pa cases to digital when submitting to ccd
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/CoreCaseDataMapper.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/CoreCaseDataMapperTest.java
  src/test/resources/success.pa.ccd.json
Labels: ns:probate-submit-service-pr-185

#195 Pro 5850 submit statement of truth
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/CoreCaseDataMapper.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/CoreCaseDataMapperTest.java
  src/test/resources/ccdStatementOfTruth.json
  src/test/resources/formPayload.json
Labels: ns:probate-submit-service-pr-195
