Repository hmcts/probate-submit-service, pull requests merged in 2019-05, with the labels that each got.

#162 add suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:probate-submit-service-pr-162

#159 PRO-3173: submit addtional address fields
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/CoreCaseDataMapper.java
  src/main/resources/application.yml
  src/test/resources/ccdAddresses.json
  src/test/resources/ccdApplyingExecutors.json
  src/test/resources/formPayload.json
Labels: ns:probate-submit-service-pr-159

#164 PRO-3173: remove redundant variable
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/CoreCaseDataMapper.java
Labels: ns:probate-submit-service-pr-164

#155 FixPactVersion in provider tests
  src/pactTest/java/uk/gov/hmcts/probate/services/submit/controllers/v2/ControllerProviderTest.java
  src/pactTest/resources/application.properties
Labels: ns:probate-submit-service-pr-155

#167 Pro 5108 remove redundant submission code
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  src/contractTest/resources/json/failure.pa.ccd.json
  src/contractTest/resources/json/success.pa.ccd.json
  src/functionalTest/java/uk/gov/hmcts/probate/functional/SubmitServicePersistenceClientTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/SubmitServiceSubmitControllerTests.java
  src/functionalTest/resources/json/formData.json
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/CcdCreateCaseParams.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/Client.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/CoreCaseDataMapper.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/MailClient.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/PersistenceClient.java
  src/main/java/uk/gov/hmcts/probate/services/submit/controllers/SubmitController.java
  src/main/java/uk/gov/hmcts/probate/services/submit/model/FormData.java
  src/main/java/uk/gov/hmcts/probate/services/submit/services/SequenceService.java
  src/main/java/uk/gov/hmcts/probate/services/submit/services/SubmitService.java
  src/pactTest/resources/json/formData.json
  src/test/java/uk/gov/hmcts/probate/security/SecurityConfigurationTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/CoreCaseDataClientTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/CoreCaseDataMapperTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/MailClientTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/PersistenceClientTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/controllers/SubmitControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/model/FormDataTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/model/SubmitDataTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/services/SequenceServiceTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/services/SubmitServiceTest.java
  src/test/resources/formData.json
  src/test/resources/formDataModel.json
  src/test/resources/formDataOldApplication.json
  src/test/resources/formPayload.json
  src/test/resources/latestFormData.json
  src/test/resources/registryDataResubmitNewApplication.json
  src/test/resources/registryDataResubmitOldApplication.json
  src/test/resources/registryDataSubmit.json
  src/test/resources/submitdata.json
Labels: do not merge, ns:probate-submit-service-pr-167

#169 update j chart, add springboot-starter
  build.gradle
  charts/probate-submit-service/Chart.yaml
  charts/probate-submit-service/requirements.yaml
Labels: ns:probate-submit-service-pr-169

#170 reorganise chart
  charts/probate-submit-service/Chart.yaml
  charts/probate-submit-service/values.preview.template.yaml
  charts/probate-submit-service/values.template.yaml
  charts/probate-submit-service/values.yaml
Labels: ns:probate-submit-service-pr-170

#175 Pro 5100 remove email smtp code and sequence number
  charts/probate-submit-service/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/SubmitServicePersistenceClientTests.java
  src/main/java/uk/gov/hmcts/probate/services/submit/Registry.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/MailClient.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/MailMessageBuilder.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/PersistenceClient.java
  src/main/java/uk/gov/hmcts/probate/services/submit/services/SequenceService.java
  src/main/java/uk/gov/hmcts/probate/services/submit/services/SubmitService.java
  src/main/resources/templates/email-template.html
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/CoreCaseDataClientTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/MailClientTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/MailMessageBuilderTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/PersistenceClientTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/model/FormDataTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/model/SubmitDataTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/services/SequenceServiceTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/services/SubmitServiceTest.java
  src/test/resources/formData.json
  src/test/resources/formDataModel.json
  src/test/resources/formPayload.json
  src/test/resources/latestFormData.json
  src/test/resources/registryDataResubmitNewApplication.json
  src/test/resources/registryDataResubmitOldApplication.json
  src/test/resources/registryDataSubmit.json
  src/test/resources/submitdata.json
Labels: ns:probate-submit-service-pr-175

#174 Pro 4080 ccd callback
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/probate/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdClientApi.java
  src/main/java/uk/gov/hmcts/probate/services/submit/controllers/v2/PaymentsController.java
  src/main/java/uk/gov/hmcts/probate/services/submit/core/PaymentServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/services/submit/services/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/probate/services/submit/services/PaymentsService.java
  src/main/java/uk/gov/hmcts/probate/services/submit/services/SubmitService.java
  src/main/java/uk/gov/hmcts/probate/services/submit/validation/validator/CaseDataValidator.java
  src/pactTest/resources/json/intestacyGrantOfRepresentation_full.json
  src/pactTest/resources/json/intestacyGrantOfRepresentation_full_submission.json
  src/pactTest/resources/json/intestacyGrantOfRepresentation_invalid.json
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdClientApiTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/controllers/v2/PaymentsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/controllers/v2/SubmissionsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/PaymentServiceImplTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/services/SubmitServiceTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/validation/validator/GrantOfRepresentationCreator.java
  src/test/resources/files/v2/intestacyGrantOfRepresentation.json
  src/test/resources/files/v2/intestacyGrantOfRepresentationInvalid.json
  src/test/resources/files/v2/payments.json
Labels: ns:probate-submit-service-pr-174

#178 PRO-5918: Updated commons
  build.gradle
  src/main/java/uk/gov/hmcts/probate/services/submit/controllers/v2/PaymentsController.java
  src/main/java/uk/gov/hmcts/probate/services/submit/core/PaymentServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/services/submit/services/PaymentsService.java
  src/test/java/uk/gov/hmcts/probate/services/submit/controllers/v2/PaymentsControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/PaymentServiceImplTest.java
Labels: ns:probate-submit-service-pr-178
