Repository hmcts/probate-submit-service, pull requests merged in 2020-02, with the labels that each got.

#301 Dr wla 22 language preference
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/probate/services/submit/core/RegistryService.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/RegistryServiceTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/validation/GrantOfRepresentationCreator.java
Labels: do not merge, ns:probate, rel:probate-submit-service-pr-301

#272 PRO-5170: expire caveats
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CaseContentBuilder.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CaseResponseBuilder.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdClientApi.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdElasticSearchQueryBuilder.java
  src/main/java/uk/gov/hmcts/probate/services/submit/controllers/v2/CasesController.java
  src/main/java/uk/gov/hmcts/probate/services/submit/core/CaveatExpiryServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/services/submit/services/CaveatExpiryService.java
  src/main/java/uk/gov/hmcts/probate/services/submit/services/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CaseContentBuilderTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CaseResponseBuilderTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdClientApiTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdElasticSearchQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/controllers/v2/CasesControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/CaveatExpiryServiceImplTest.java
Labels: ns:probate, ns:probate-submit-service-pr-272, rel:probate-submit-service-pr-272

#303 PRO-5170: corrected null caveat data on expiry
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CaseDetailsToCaseDataMapper.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CaseResponseBuilder.java
  src/main/java/uk/gov/hmcts/probate/services/submit/core/CaveatExpiryServiceImpl.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CaseResponseBuilderTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/CaveatExpiryServiceImplTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/mapper/CaseDetailsToCaseDataMapperTest.java
Labels: ns:probate, rel:probate-submit-service-pr-303

#304 Pro 5170 find expired caveats
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CaseDetailsToCaseDataMapper.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CaseResponseBuilder.java
  src/main/java/uk/gov/hmcts/probate/services/submit/core/CaveatExpiryServiceImpl.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CaseResponseBuilderTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/CaveatExpiryServiceImplTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/mapper/CaseDetailsToCaseDataMapperTest.java
Labels: ns:probate, rel:probate-submit-service-pr-304

#305 Merge to demo from master
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/probate/services/submit/core/RegistryService.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/RegistryServiceTest.java
Labels: ns:probate, rel:probate-submit-service-pr-305

#307 Merge demo to master1802
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CaseContentBuilder.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CaseDetailsToCaseDataMapper.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CaseResponseBuilder.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdClientApi.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdElasticSearchQueryBuilder.java
  src/main/java/uk/gov/hmcts/probate/services/submit/controllers/v2/CasesController.java
  src/main/java/uk/gov/hmcts/probate/services/submit/core/CaveatExpiryServiceImpl.java
  src/main/java/uk/gov/hmcts/probate/services/submit/services/CaveatExpiryService.java
  src/main/java/uk/gov/hmcts/probate/services/submit/services/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CaseContentBuilderTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CaseResponseBuilderTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdClientApiTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdElasticSearchQueryBuilderTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/controllers/v2/CasesControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/CaveatExpiryServiceImplTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/core/mapper/CaseDetailsToCaseDataMapperTest.java
Labels: ns:probate, rel:probate-submit-service-pr-307

#310 PRO-1234: upgraded commons
  build.gradle
Labels: ns:probate, rel:probate-submit-service-pr-310

#313 PRO-7083: fixed cave auto exp max rows
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdElasticSearchQueryBuilder.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdElasticSearchQueryBuilderTest.java
Labels: ns:probate, rel:probate-submit-service-pr-313

#314 PRO-6841: Reference new commons version
  build.gradle
Labels: ns:probate, rel:probate-submit-service-pr-314
