Repository hmcts/probate-submit-service, pull requests merged in 2020-09, with the labels that each got.

#360 Pro 7958 add remaining functional tests
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/probate/functional/TestTokenGenerator.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/cases/ExpireCaveatsTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/cases/GetCasesTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/cases/SaveCaseTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/cases/ValidateCasesTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/model/IdamData.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/payments/PaymentDetailsTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/submissions/CaseSubmissionsTest.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/util/TestUtils.java
  src/functionalTest/resources/application.properties
  src/functionalTest/resources/json/caveat.full.json
  src/functionalTest/resources/json/caveat.partial.json
  src/functionalTest/resources/json/gop.multipleExecutors.full.json
  src/functionalTest/resources/json/gop.multipleExecutors.partial.json
  src/functionalTest/resources/json/gop.paymentInitiated.json
  src/functionalTest/resources/json/gop.singleExecutor.full.json
  src/functionalTest/resources/json/gop.singleExecutor.partial.json
  src/functionalTest/resources/json/intestacy.full.json
  src/functionalTest/resources/json/intestacy.invalid.json
  src/functionalTest/resources/json/intestacy.partial.json
  src/functionalTest/resources/json/success.validateCaseData.json
Labels: ns:probate, prd:probate, rel:probate-submit-service-pr-360

#365 DTSPB-494: Add retries to tests
  src/functionalTest/java/uk/gov/hmcts/probate/functional/TestRetryRule.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/cases/GetCasesTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/cases/SaveCaseTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/cases/ValidateCasesTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/payments/CaveatsPaymentTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/payments/GrantOfRepresentationPaymentTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/util/TestUtils.java
Labels: ns:probate, prd:probate, rel:probate-submit-service-pr-365

#370 Add dev env
  .env
  README.md
  config/owasp/suppressions.xml
  docker-compose.yml
  docker/database/Dockerfile
  docker/database/create-multiple-postgres-database.sh
  docker/database/init-db.sh
Labels: ns:probate, prd:probate, rel:probate-submit-service-pr-370
