Repository hmcts/probate-submit-service, pull requests merged in 2022-07, with the labels that each got.

#610 Update suppressions.xml
  charts/probate-submit-service/Chart.yaml
  suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-submit-service-pr-610

#611 DTSPB-2896 suppress log4j cve
  suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-submit-service-pr-611

#614 DTSPB-2940 CVE
  suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-submit-service-pr-614

#615 DTSPB-2943 update the java version
  charts/probate-submit-service/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-submit-service-pr-615

#605 DTSPB-1714: merged from master
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-submit-service-pr-605

#618 DTSPB-2951: Correct FT, add status code check to testutil, fix caveat…
  src/functionalTest/java/uk/gov/hmcts/probate/functional/cases/ValidateCasesTests.java
  src/functionalTest/java/uk/gov/hmcts/probate/functional/util/TestUtils.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdClientApi.java
  src/main/java/uk/gov/hmcts/probate/services/submit/core/CasesServiceImpl.java
Labels: ns:probate, prd:probate, rel:probate-submit-service-pr-618
