Repository hmcts/probate-submit-service, pull requests merged in 2023-01, with the labels that each got.

#644 DTSPB-3261 CVE suppressions
  suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-submit-service-pr-644

#645 DTSPB-3261 cve suppression
  suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-submit-service-pr-645

#646 DTSPB-3271
  build.gradle
  suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-submit-service-pr-646

#647 Move some tests to integrationTest
  .travis.yml
  Jenkinsfile_CNP
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/probate/security/SecurityConfigurationIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/services/submit/controllers/v2/CasesControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/services/submit/controllers/v2/PaymentsControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/services/submit/controllers/v2/ProbateExceptionHandlerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/services/submit/controllers/v2/SubmissionsControllerIT.java
  src/integrationTest/java/uk/gov/hmcts/probate/services/submit/core/RegistryServiceIT.java
Labels: ns:probate, prd:probate, rel:probate-submit-service-pr-647

#657 Java chart update
  Jenkinsfile_nightly
  charts/probate-submit-service/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-submit-service-pr-657

#640 DTSPB-3060 Citizen Dashboard Retrieve Bug
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdClientApi.java
  src/main/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdElasticSearchQueryBuilder.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdClientApiTest.java
  src/test/java/uk/gov/hmcts/probate/services/submit/clients/v2/ccd/CcdElasticSearchQueryBuilderTest.java
Labels: ns:probate, prd:probate, rel:probate-submit-service-pr-640
